* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 3000px;
}

header {
    border: 30px solid transparent;
    border-image-source: url(lorem.png);
    border-image-slice: 10;
    border-image-width: 25px;
    height: 250px;
    background-color: rgb(14, 253, 253);
}

#Navigation_bar>nav>ul {
    border-image-source: url(./images_1.png);
    border-image-slice: 10;
    border-image-width: 20px;
    background-color: rgb(28, 153, 255);
    width: 2700px;
    margin: 25px 150px;
    list-style-type: none;
    padding: 15px;
}


li {
    display: inline-block;
    padding: 15px;
    border-width: 0px 15px;
    border-style: solid;
    border-color: transparent;
}

a {
    color: white;
    background-color: rgb(2, 3, 3);
    padding: 15px;
    border: 5px transparent;
    border-radius: 5px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    transition: 0.8c;

}

a:hover {
    background-color: rgba(155, 208, 243, 20%);
    border-bottom: solid greenyellow;
    text-shadow: 5px 3px 5px rgb(250, 253, 223);
}

main>#bannar-first {
    display: block;
    border: 30px solid transparent;
    border-image: url(./images_1.png) 10;
    background: url(./download__1.png) center/cover no-repeat content-box fixed;
}

#bannar-first>picture {
    border-image: url(./images_1.png) 10px 5px no-repeat;
    display: block;
    margin: 110px;
}

#bannar-first>picture>img {
    width: 900px;
    padding: 15px;
    height: 900px;
}